h1 {
    text-align: center;
    background-color: beige;
    
}
.header {
    margin-left: 80px;
    margin-right: 200;
}

.btn-group {
    height: 10%
    width: 15%;
    text-align: center;
    float: left;
}

.duedate {
    float: right;
}
    

.tasklist {
    float: right;
}

    

