/* 

/*Reset CSS 
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Color scheme 
:root {
  --text: #0a0106;
  --bg-color: #fef1f9;
  --primary-button-color: #f57584;
  --secondary-button-color: #fce0cf;
  --accent-color: #ef6915;
}

/* Responsive and Bootstrap classes 
body {
  background-color: var(--bg-color);
}

.banner {
background-color: var();
  color: var(--text);
}

.container {
  padding-top: 40px;
  max-width: 600px;
  margin: 0 auto;
}

#taskForm {
  margin-bottom: 20px;
}

#taskList {
  list-style: none;
}

/* Rounded corners 
.form-control,
.card {
  border-radius: 15px;
} */

/* new world */
/* assets/css/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

h1 {
    margin: 0;
}

section {
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 10px;
    max-width: 400px;
}

label {
    font-weight: bold;
}

textarea {
    height: 100px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

span.badge {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

span.badge.TODO {
    background-color: #e53935;
    color: #fff;
}

span.badge.IN_PROGRESS {
    background-color: #ffc107;
}

span.badge.DONE {
    background-color: #43a047;
    color: #fff;
}

small {
    display: block;
}

small:first-child {
    margin-bottom: 5px;
}
